<!-- USERNAME: <%= user.name %> -->

<div class="home">
    <div class="homecards">
        <div>card1</div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="crops">
    <div class="search">
        <input type="text" placeholder="search">
        <button type="submit">go</button>
    </div>
    <div class="cropcards">
        <% cropData.forEach(crop => { %>
        <div>
            <span>
                <h2><%= crop.name %></h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </span>
            <span>    
                <img src="<%= crop.img %>" alt="">
                <button class="cid" type="button">Add<span style="display:none"><%=crop.id%></span>
            </span>
        </div>
       <% }); %>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="profile">
    <div class="profiletop">
        <div class="pic">
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="">
        </div>
        <div class="info">
            <span><%= user.name %></span>
            <span id="usid" style="display:none"><%=user.id%></span>
            <span>Location</span>
            <span>info</span>
        </div>
    </div>
    <div class="profilebottom">
        <div class="pcroplist">
            <p id = "cropList">My Crops</p>
            <!-- <ul>
                <li>crop1</li>
                <li>crop2</li>
                <li>crop3</li>
                <li>crop4</li>
                <li>crop5</li>
                <li>crop6</li>
            </ul> -->
        </div>
    </div>
</div>

<div class="tabs">
    <div id="tohome">Home</div>
    <div id="tocrops">Crops</div>
    <div id="toprofile" class="tabactive">Profile</div>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
