<!-- USERNAME: <%= user.name %> -->

<div class="home">
    <div class="homecards">
        <div id="suggestionCards">
            <span>
                <h4>
                    wheat
                </h4>
            </span>
            <span>waterplants</span><br>
            <span>test</span>
            <span>
                <img 
                src="/img/wheat.jpg" 
                style="height: 80px;
                    width: 100px;
                    float: right;
                    border-radius: 0.4em;"
                alt="">
            </span>    
        </div>
    </div>
</div>

<div class="crops">
    <div class="search">
        <input type="text" placeholder="Search" id="searchInput" onkeyup="search()">
        <button type="submit">go</button>
    </div>
    <ul id="myUL" class="cropcards">
        <% cropData.forEach(crop => { %>
        <li>
            <span>
                <h2><%= crop.name %></h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </span>
            <span>    
                <img src="<%= crop.img %>" alt="">
                <button class="cid" type="button">Add<span style="display:none"><%=crop.id%></span>
            </span>
        </li>
       <% }); %>
    </ul>
</div>

<div class="profile">
    <div class="profiletop">
        <div class="pic">
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="">
        </div>
        <div class="info">
            <span><%= user.name %></span>
            <span id="usid" style="display:none"><%=user.id%></span>
            <span>Location</span>
            <span>info</span>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
    <div class="profilebottom">
        <div class="pcroplist">
            <p id="initCrop">My Crops</p>
            <ul id = "cropList"></ul>
        </div>
    </div>
</div>

<div class="tabs">
    <div id="tohome">Home</div>
    <div id="tocrops">Crops</div>
    <div id="toprofile" class="tabactive">Profile</div>
</div>
